body {
    background-color: black;
    font-style: oblique;
    text-align: left;

}
h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: times;

}
.jobs {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}
#work{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#post-work{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
img{
    text-align: center;
    border: solid black 4px;
    margin: auto;
    display: block;
}
* {
    position: relative;
    margin-right:  10px;
    margin-top:  10px;
    margin-left: 10px;
    background-color: #999;
}
